<div class="alert alert-warning" role="alert">
  Until your GoCardless account is verified, you won't be able to receive payouts. There's at least one step still to complete to get verified - <a href="<%= @verify_url %>">head to GoCardless</a> to get started.
</div>