<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" style="border-bottom: 3px solid #dddddd">
  <div class="container">
    <span style="font-size: 144px;"><i class="fa fa-cog"></i></span>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Analytics-⚙-matic</h1>
      <hr/>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center"><a href="/connect">Connect Analytics-⚙-matic to your GoCardless account</a> to get started.</h3>
    </div>
  </div>

  <hr/>
  <footer>
    <center>
      Made with ❤ by <a href="http://gocardless.com">GoCardless Engineering</a> (<a href="http://github.com/gocardless/flow-demo-app">view source</a>)
    </center>
  </footer>

</div> <!-- /container -->
