<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">Analytics-⚙-matic</h1>
    <hr/>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <a href="/connect" class="btn btn-lg btn-primary">Connect to GoCardless</a>
  </div>
</div>
