<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">Thanks for verifying your account</h1>

    <% if @verification_status == "action_required" %>
      <%= erb :"partials/verification_action_required" %>
    <% elsif @verification_status == "in_review" %>
      <%= erb :"partials/verification_in_review" %>
    <% elsif @verification_status == "successful" %>
      <%= erb :"partials/verification_successful" %>
    <% end %>

    <p class="text-center"><small><a href="/">View my analytics</a></small></p>

    <p class="text-center"><small><a href="/logout">Log out</a></small></p>
  </div>
</div>
